function String.new 1
function String.dispose 0
function String.length 0
function String.charAt 1
function String.setCharAt 2
function String.appendChar 1
function String.eraseLastChar 0
function String.intValue 0
function String.setInt 1
function String.newLine 0
function String.backSpace 0
function String.doubleQuote 0
