function Bat.new 4
push argument 0
pop argument 0
push argument 1
pop argument 1
push argument 2
pop argument 2
push argument 3
pop argument 3
push constant 2
pop argument 4
push pointer 0
call Bat.show 0
push pointer 0
return
function Bat.dispose 0
push pointer 0
push pointer 0
call Memory.deAlloc 1
return
function Bat.show 0
push pointer 0
push constant 1
neg
call Screen.setColor 1
push pointer 0
call Bat.draw 0
return
function Bat.hide 0
push pointer 0
push constant 0
call Screen.setColor 1
push pointer 0
call Bat.draw 0
return
function Bat.draw 0
push pointer 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
return
function Bat.setDirection 1
push this 0
pop argument 4
return
function Bat.getLeft 0
push this 0
return
function Bat.getRight 0
push this 0
push this 2
add
return
function Bat.setWidth 1
push pointer 0
call Bat.hide 0
push this 0
pop argument 2
push pointer 0
call Bat.show 0
return
function Bat.move 0
push this 4
push constant 1
eq
push this 0
push constant 4
sub
pop this 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 0
lt
push constant 0
pop this 0
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label IF_FALSE1
push pointer 0
push constant 0
call Screen.setColor 1
push pointer 0
push this 0
push this 2
add
push constant 1
add
push this 1
push this 0
push this 2
add
push constant 4
add
push this 1
push this 3
add
call Screen.drawRectangle 4
push pointer 0
push constant 1
neg
call Screen.setColor 1
push pointer 0
push this 0
push this 1
push this 0
push constant 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
label IF_FALSE0
push this 0
push constant 4
add
pop this 0
push this 0
push this 2
add
push constant 511
gt
push constant 511
push this 2
sub
pop this 0
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
label IF_FALSE2
push pointer 0
push constant 0
call Screen.setColor 1
push pointer 0
push this 0
push constant 4
sub
push this 1
push this 0
push constant 1
sub
push this 1
push this 3
add
call Screen.drawRectangle 4
push pointer 0
push constant 1
neg
call Screen.setColor 1
push pointer 0
push this 0
push this 2
add
push constant 3
sub
push this 1
push this 0
push this 2
add
push this 1
push this 3
add
call Screen.drawRectangle 4
return
